*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*structure*/

body{
    font-family: "Open Sans";
}

header{
    height: 100px;
    background-color: yellow;
    position: sticky;
    top: 0;
}

main{
    height: calc(100vh - 100px);
    background-color: red;
    display: flex;
}

footer{
    height: 100px;
    background-color: green;
}

#content-music{
    height: 100%;
    width: calc(100% - 200px);
    overflow-y: auto;
    background-color: violet;
}

#side-options img, #sidebar-footer img{
    width: 20%;
}

/*header*/

.btn.update{
    border: 2px solid black;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 25%;
    right: 10px;
}

/*sidebar-general*/

#side-bar{
    height: 100%;
    width: 200px;
    background-color: blue;
}

/*content-music*/

/*nav*/

.nav{
    display: flex;
    justify-content: center;
}

.nav li{
    margin: 0 20px;
}

/*music*/

.music{
    padding: 20px;
}

.recent-music{
    display: flex;
    justify-content: space-between;
}

.card{
    width: calc(100vw / 8);
    text-align: center;
}

/*playlist*/

.create-playlist div{
    display: inline-block;
}

.btn-playlist, .user-photo{
    border: 2px solid orange;
    background-color: grey;
}

/*utlity*/

ul li{
    list-style-type: none;
}

.img-fluid{
    width: 100%;
}
